.contador {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    margin: 10px;
}

.digito {
    background-color: rgba(67, 62, 62, 0.725);
    padding: 20px;
    color: white;
    font-size: 45px;
    margin: 10px;
    width: 80px;
    border-radius: 10px;
}
